body {
  background-color: #efefef;
}

.sideItem {
  background-color: black;
  border-radius: 15px;
  height: 240px;
  color: white;
  padding: 10px;
  opacity: 4;
}
.container {
  margin: auto;
  font-family: "Akaya Kanadaka";
}
