@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

body {
  background-color: #efefef;
}

.sideItem {
  background-color: black;
  border-radius: 15px;
  height: 400px;
  color: white;
  padding: 10px;
  opacity: 4;
}
.container {
  margin: auto;
  font-family: "Akaya Kanadaka";
}
